<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<table>
    <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Text</td>
        <td><a href="{% url 'text' %}" type="button">Text link</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>File</td>
        <td><a href="{% url 'file' %}" type="button">File link</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>JSON</td>
        <td><a href="{% url 'json' %}" type="button">JSON link</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Sort list</td>
        <td><a href="{% url 'filters' %}" type="button">Filters link</a></td>
    </tr>
    <tr>
        <td>5</td>
        <td>Tags for</td>
        <td><a href="{% url 'tags-for' %}" type="button">Tags for link</a></td>
    </tr>
    <tr>
        <td>6</td>
        <td>Tags "for empty"</td>
        <td><a href="{% url 'tags-for-empty' %}" type="button">Tags for / empty link</a></td>
    </tr>
    <tr>
        <td>7</td>
        <td>Text CBV</td>
        <td><a href="{% url 'class_view' 'text' %}" type="button">Text link</a></td>
    </tr>
    <tr>
        <td>8</td>
        <td>File CBV</td>
        <td><a href="{% url 'class_view' type='file' %}" type="button">File link</a></td>
    </tr>
    <tr>
        <td>9</td>
        <td>JSON CBV </td>
        <td><a href="{% url 'class_view' type='json' %}" type="button">JSON link</a></td>
    </tr>

    <tr>
        <td>10</td>
        <td>JSON CBV </td>
        <td><a href="{% url 'class_view' type='html' %}" type="button">Html link</a></td>
    </tr>
</table>

</body>
</html>