<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
{% csrf_token %}
<h1>Вселенная Звездных воен</h1>
<p>
  <h2>Добро пожаловать во вселенную звездных войн!</h2>
  <h4>Выберите страницу:</h4>
</p>
<ul>
  <li><a href="{% url 'luke' %}" type="button">Люк</a></li>
  <li><a href="{% url 'leia' %}" type="button">Лея</a></li>
  <li><a href="{% url 'han' %}" type="button">Хан</a></li>
</ul>
</body>
</html>