<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags FOR EMPTY</title>
</head>
<body>
Questions:
<ul>
    {% for question in list %}
    <li><a href="/polls/{{question.id}}" type="button">{{question.question_text}}</a></li>
    {% empty %}
    <p>Список вопросов пуст</p>
    {% endfor %}
</ul>

</body>
</html>