<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags FOR</title>
</head>
<body>
List:
<ol>
    {% for elem in list %}
    <li>'{'{{elem.name}}'}' '{'{{elem.surname}}'}'</li>
    {% endfor %}
</ol>
</body>
</html>